<h1>Hospital {{hospital.nombre}}</h1>

<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">Conultas</button>
    <clr-tab-content id="content1" *clrIfActive>

      <app-consultas [hospital]="hospital.id"></app-consultas>

    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Atenciones</button>
    <clr-tab-content *clrIfActive>

      <app-atenciones [hospital]="hospital.id"></app-atenciones>

    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Pacientes</button>
    <clr-tab-content *clrIfActive>

      <app-pacientes [hospital]="hospital.id"></app-pacientes>

    </clr-tab-content>
  </clr-tab>
</clr-tabs>
<br>
