<button (click)="liberar()" class="btn btn-primary">Liberar Consultas</button>
<button (click)="optimizar()" class="btn btn-primary">Optimizar Consultas</button>

<clr-datagrid >

  <clr-dg-column [clrDgField]="'nombre_especialista'">Especialista</clr-dg-column>
  <clr-dg-column [clrDgField]="'tipo'">Tipo Consulta</clr-dg-column>
  <clr-dg-column [clrDgField]="'cantidad_pacientes'">Atenciones</clr-dg-column>
  <clr-dg-column [clrDgField]="'estado'">Disponible</clr-dg-column>


  <clr-dg-row *clrDgItems="let consulta of consultas" [clrDgItem]="consulta">
    <clr-dg-cell>{{consulta.nombre_especialista}}</clr-dg-cell>
    <clr-dg-cell>{{consulta.tipo}}</clr-dg-cell>
    <clr-dg-cell>{{consulta.cantidad_pacientes}}</clr-dg-cell>
    <clr-dg-cell>{{consulta.estado}}</clr-dg-cell>

  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="20">
      <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,100]">consultas por pagina</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      de {{pagination.totalItems}} consultas
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
