<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="/" class="nav-link">
        <clr-icon shape="building"></clr-icon>
        <span class="title">SAAP</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/home" routerLinkActive="active" class="nav-link nav-text">Colsultas</a>
    </div>
  </header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
