<clr-datagrid >

  <clr-dg-column [clrDgField]="'estado'">Estado</clr-dg-column>
  <clr-dg-column [clrDgField]="'fecha_ingreso'">Tipo Fecha Ingreso</clr-dg-column>
  <clr-dg-column [clrDgField]="'consulta'">Consulta Asignada</clr-dg-column>
  <clr-dg-column [clrDgField]="'paciente'">Paciente</clr-dg-column>


  <clr-dg-row *clrDgItems="let atencion of atenciones" [clrDgItem]="atencion">
    <clr-dg-cell>{{atencion.paciente.estado}}</clr-dg-cell>
    <clr-dg-cell>{{atencion.fecha_ingreso | date }}</clr-dg-cell>
    <clr-dg-cell *ngIf="atencion.consulta != null">{{atencion.consulta.id + ' - ' + atencion.consulta.nombre_especialista}}</clr-dg-cell>
    <clr-dg-cell *ngIf="atencion.consulta == null"> - </clr-dg-cell>
    <clr-dg-cell>{{atencion.paciente.nombre}}</clr-dg-cell>

  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="20">
      <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,100]">atenciones por pagina</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      de {{pagination.totalItems}} atenciones
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
