
<button (click)="atenterSeleccion()" class="btn btn-primary">Atender seleccionados</button>
<button (click)="cancelarSeleccion()" class="btn btn-primary">Cancelar seleccionados</button>

<clr-dropdown>
    <button class="btn btn-outline-primary" clrDropdownTrigger>
        Filtros
        <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu  *clrIfOpen>
        <div (click)="pacintesTodos()" aria-label="Dropdown header Action" clrDropdownItem>Todos</div>
        <div (click)="pacintesMayorRiesgo()" aria-label="Dropdown header Action" clrDropdownItem>Pacientes mayor riesgo</div>
        <div (click)="fumadoresUrgentes()" aria-label="Dropdown header Action" clrDropdownItem>Fumadores urgentes</div>
        <div (click)="masAnciano()" aria-label="Dropdown header Action" clrDropdownItem>Paciente mas anciano</div>
    </clr-dropdown-menu>
</clr-dropdown>

<clr-datagrid [(clrDgSelected)]="selected">
  <clr-dg-column>FICHA</clr-dg-column>

  <clr-dg-column [clrDgField]="'nombre'">Nombre</clr-dg-column>
  <clr-dg-column [clrDgField]="'nombre'">Edad</clr-dg-column>
  <clr-dg-column [clrDgField]="'prioridad'">Prioridad</clr-dg-column>
  <clr-dg-column [clrDgField]="'tipo_paciente'">Tipo Paciente</clr-dg-column>
  <clr-dg-column [clrDgField]="'estado'">Estado</clr-dg-column>
  <clr-dg-column >Datos</clr-dg-column>


  <clr-dg-row *clrDgItems="let paciente of pacientes" [clrDgItem]="paciente">
    <clr-dg-cell>{{paciente.numero_historia_clinica}}</clr-dg-cell>
    <clr-dg-cell>{{paciente.nombre}}</clr-dg-cell>
    <clr-dg-cell>{{paciente.edad}}</clr-dg-cell>
    <clr-dg-cell>{{paciente.prioridad}}</clr-dg-cell>
    <clr-dg-cell>{{paciente.tipo_paciente}}</clr-dg-cell>
    <clr-dg-cell>{{paciente.estado}}</clr-dg-cell>
    <clr-dg-cell *ngIf="paciente.tipo_paciente=='nino'">Peso estatura: {{paciente.peso_estatura}}</clr-dg-cell>
    <clr-dg-cell *ngIf="paciente.tipo_paciente=='joven'">Es Fumador: <span *ngIf="paciente.es_fumador">SI Años:{{paciente.tiempo}}</span>  <span *ngIf="!paciente.es_fumador">NO</span>  </clr-dg-cell>
    <clr-dg-cell *ngIf="paciente.tipo_paciente=='anciano'">Tiene dieta:  <span *ngIf="paciente.tiene_dieta">SI</span>  <span *ngIf="!paciente.tiene_dieta">NO</span></clr-dg-cell>

  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="20">
      <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,100]">pacientes por pagina</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      de {{pagination.totalItems}} pacientes
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>


